.app-Wrapper {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  width: 1200px;
      grid-template-areas: "h h" "n c";
  -ms-grid-rows: 60px 1fr;
      grid-template-rows: 60px 1fr;
  -ms-grid-columns: 2fr 10fr;
      grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px;*/
}
